body {
  overflow-x: hidden;
}

@media screen and (max-width: 992px) {
  .gap_top {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .gap_bottom {
    padding-bottom: 10px;
  }
}

/* Prateleira de Livros CSS */
.digital-bookshelf {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: auto;
}

.bookshelf-title {
  font-size: 2.5rem;
  color: #343a40;
}

.book-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card.shelf-book-card {
  margin-bottom: 20px;
}

.book-title {
  font-size: 1.2rem;
  color: #007bff;
}

.book-description {
  font-size: 0.9rem;
  color: #6c757d;
}

.buy-button {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Configurações do Carrossel */
.carousel-item {
  transition: transform 0.6s ease-in-out;
}

.carousel-item .row .col-12 {
  display: flex;
  justify-content: center;
}

@media (max-width: 575.98px) {

  /* Ajustes para celulares */
  .card.shelf-book-card {
    margin-bottom: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  /* Ajustes para tablets */
  .card.shelf-book-card {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {

  /* Ajustes para desktops */
  .card.shelf-book-card {
    margin-bottom: 25px;
  }
}

/* Fim do CSS */

/* Agenda de Eventos - Main */
html {
  background-color: #fffcff;
  color: #d36c6c;
}

.schedule-body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #282a36;
}

.schedule-body button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.schedule-body #header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

.schedule-body #header button {
  background-color: #92a1d1;
}

#container-schedule {
  width: 770px;
  overflow-x: auto;
}

#weekdays {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #247ba0;
}

#weekdays div {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
}

#weekdays div::before {
  content: attr(data-letter);
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#weekdays div {
  color: #247ba0;
}

#calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.day {
  padding: 10px;
  height: 7vh;
  background-color: #44475a;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
}

.day:hover {
  background-color: #e8faed;
  color: #343a40;
}

.day+#currentDay {
  background-color: #58bae4;
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.padding {
  cursor: default !important;
  background-color: #282a36 !important;
  box-shadow: none !important;
}

#viewEventModal {
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-weight: bold;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: none;
}

#viewEventModal .close-btn {
  cursor: pointer;
  color: red;
  font-size: 20px;
}

#eventText {
  font-size: 14px;
  font-family: sans-serif;
}

#container-schedule {
  max-width: 100%;
  padding: 10px;
}

.schedule-body {
  padding: 0 20px;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#header div,
#header button {
  margin: 0 10px;
}

.schedule-body #header button {
  background-color: #92a1d1;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.schedule-body button {
  background-color: orange !important;
  color: white;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px #0000001a;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

.schedule-body button:hover {
  background-color: #ffa600a7;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.schedule-body button:active {
  transform: translateY(0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  #container-schedule {
    padding: 10px;
  }

  .schedule-body {
    padding: 0 15px;
  }

  #header {
    font-size: 20px;
    flex-direction: column;
    align-items: center;
  }

  #header div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
  }

  #header button {
    font-size: 12px;
    padding: 6px 8px;
  }

  #weekdays,
  #calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 480px) {
  .schedule-body {
    padding: 0 10px;
  }

  #header {
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  #header div {
    width: 100%;
    justify-content: space-around;
    padding-top: 5px;
  }

  #header button {
    font-size: 10px;
    padding: 5px 8px;
  }

  #calendar {
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }

  #weekdays div {
    width: auto;
    font-size: 0.8rem;
  }

  .day {
    padding: 5px;
    font-size: 0.7rem;
  }
}

/* Section DRIVE */
.one_drive {
  background: radial-gradient(ellipse at center,
      #fffeea 0%,
      #fffeea 35%,
      #b7e8eb 100%);
  overflow: hidden;
  margin: 0;
}

.section-one_drive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://cdn.kcak11.com/codepen_assets/wave_animation/wave.svg) repeat-x;
  position: absolute;
  top: -197px;
  width: 6400px;
  height: 200px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {

  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}

.container-drive {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  animation: fadeIn 1s ease-in-out;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 700px) {
  .container-drive {
    background-color: transparent;
    box-shadow: none;
  }

  hr {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.img-drive {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  margin: 0px auto 30px auto;
}

.img-drive:hover {
  transform: scale(1.05);
}

.button-one-drive {
  position: relative;
  width: 230px;
  height: 70px;
  background: mediumturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  margin: auto;
  overflow: hidden;
}

.button-one-drive::before,
.button-one-drive::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  transition: all 0.5s;
}

.button-one-drive::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.button-one-drive::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.button-one-drive:hover::before,
.button-one-drive:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.button-one-drive:hover:after {
  content: "Demorou!";
}

.title-drive {
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: sans-serif;
}

/* END Section DRIVE */